<div class=" py-6 bg-gray-20 select-none" data-aos="fade-in" data-aos-once="true">
  <div class="flex flex-row gap-8 w-full">
    <div class="flex-1/6">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold uppercase">Bullard</h1>
    </div>
    <div class="hidden lg:flex flex-grow flex-row gap-8 px-6 items-center justify-center mr-24 mt-2">
      <!-- Home, Courses and pricing are three sub-sections of same page. -->
      <a [routerLink]="['/courses']" class="text-xl font-semibold">Courses</a>
      <a [routerLink]="['/settings']" class="text-xl font-semibold">Settings</a>
      <a [routerLink]="['/billing']" class="text-xl font-semibold">Billing</a>
    </div>
    <div class="flex-1/6 ">
      <div (click)="toggleMenu()" class="hidden lg:flex bg-black rounded-full h-12 w-12 cursor-pointer relative">
          <div *ngIf="menuVisible" class="absolute top-14 right-0 rounded-xl px-6 py-2 shadow-xl border border-gray-300 hover:text-red-400">
            <div class="text-xl">Logout</div>
          </div>
      </div>
    </div>
    <div class="lg:hidden flex flex-grow row justify-end items-center">
      <div (click)="openMobileMenu()" class="p-2 hover:scale-105 cursor-pointer">
        <img src="/assets/icons/menu-icon.png" class="w-10" alt="">
      </div>
    </div>
  </div>
</div>
