<div class="max-w-6xl mx-auto px-4">
  <app-navbar2></app-navbar2>

  <div class="py-10">
    <div class="">
      <h1 class="text-5xl md:text-6xl" data-aos="fade-left" data-aos-once="true">Profile.</h1>
      <div class="py-8">
        <form onsubmit="">
          <div class="grid grid-cols-1 gap-8" data-aos="fade-in" data-aos-once="true">
            <div class="grid grid-cols-2 gap-8">
              <input type="text" placeholder="First Name" class="bg-f5f5f5 px-6 py-6 hover:bg-gray-200 w-full text-lg lg:text-xl rounded-xl">
              <input type="text" placeholder="Last Name" class="bg-f5f5f5 px-6 py-6 hover:bg-gray-200 w-full text-lg lg:text-xl rounded-xl">
            </div>
            <div class="grid grid-cols-2 gap-8">
              <input type="text" placeholder="Designation" class="bg-f5f5f5 px-6 py-6 hover:bg-gray-200 w-full text-lg lg:text-xl rounded-xl">
              <input type="text" placeholder="Name of Organisation" class="bg-f5f5f5 px-6 py-6 hover:bg-gray-200 w-full text-lg lg:text-xl rounded-xl">
            </div>
            <div class="grid grid-cols-1 gap-8">
              <input type="text" placeholder="Office Address" class="bg-f5f5f5 px-6 py-6 hover:bg-gray-200 w-full text-lg lg:text-xl rounded-xl">
            </div>
            <div class="grid grid-cols-2">
              <button type="submit" class="bg-black text-white rounded-xl px-6 py-6 flex justify-center items-center">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
